#accounts {
    .container {
        width: 90%!important;
    }
    #AddPayment {
        margin-top: 30px;
        .howPay {
            font-size: 22px;
            text-decoration: none;
            i {
                color: hsl(266, 51%, 34%);
            }
            p {
                font-weight: bold;
                margin: 0px!important;
                color: black;
            }
        }
        #testClick {
            padding: 0.375rem 0.75rem!important;
            background: hsl(266, 51%, 34%);
            color: white;
        }
        #testClick:hover {
            background: hsl(266, 51%, 43%);
        }
    }
    #conciliate {
        margin-bottom: 20px;
        padding: 10px!important;
        background: hsl(266, 51%, 34%);
        color: white;
        font-size: 16px;
        i {
            font-size: 20px;
        }
    }
    #conciliate:hover {
        background: hsl(266, 51%, 43%);
    }
}

#filterPayment {
    display: flex;
    align-items: center;
    #optionsFilter {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    #autorization {
        width: 40%;
    }
    input {
        height: 35px;
        width: 30%;
    }
    label {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    select {
        font-size: 16px;
        border: 1px solid #d9d9d9;
        height: 35px;
        width: 150px;
        overflow: hidden;
        position: relative;
    }
    #name {
        width: 60%;
        #nameFilter {
            label {
                width: 170px;
                margin-left: 10px;
            }
            input {
                width: 65%;
            }
        }
    }
    #date {
        width: 60%;
        #dateFilter {
            width: 100%;
        }
    }
    #auto {
        width: 60%;
        input {
            width: 100%;
        }
    }
    #filterSearch {
        display: none;
        padding: 5px!important;
        margin-left: 10px;
        border: 1px solid hsl(240, 17%, 41%);
        background: hsl(266, 51%, 34%);
        color: white;
        border-radius: 5px;
    }
    #filterSearch:hover {
        background: hsl(266, 51%, 43%);
    }
}

.display {
    display: none;
}

#exampleModalCenter {
    margin: 0 auto!important;
}

.form-register {
    width: 100%;
    margin-left: 0px;
    margin: 0 auto!important;
}

.modal-dialog {
    max-width: 550px;
}

.progressbar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 40px;
    padding-left: 0px;
    counter-reset: step;
}

.progressbar__option {
    width: 20%;
    text-align: center;
    position: relative;
}

.progressbar__option:before {
    display: flex;
    content: counter(step);
    counter-increment: step;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    background: hsl(240, 17%, 41%);
    margin: auto;
    border-radius: 999px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: all 300ms linear;
}

.progressbar__option:after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: hsl(267, 15%, 41%);
    position: absolute;
    top: 15px;
    left: -50%;
    z-index: 1;
    transition: all 300ms linear;
}

.progressbar__option:first-child::after {
    content: none;
}

.progressbar__option.active:before,
.progressbar__option.active:after {
    background: hsl(266, 51%, 34%);
}

.step__header {
    text-align: center;
    h2 {
        font-weight: bold;
        color: #444;
    }
}

.step__body {
    width: 90%!important;
    margin: 0 auto!important;
    label {
        font-size: 15px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        margin-bottom: 20px;
    }
    #requiteFields {
        font-size: 13px;
        margin: 0 auto;
    }
}

#dataCollection {
    label {
        background: #512B83;
        color: white;
    }
    input {
        color: black;
    }
}

.step__footer {
    padding: 20px;
    text-align: center;
    margin: 0 auto!important;
    .step__button {
        display: inline-block;
        font-size: 17px;
        padding: 10px 15px;
        background: hsl(266, 51%, 34%);
        color: white;
        border-radius: 3px;
        border: none;
    }
    .step__button:hover {
        background: hsl(266, 51%, 43%)
    }
}