#anthologys {
    .containerSearch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: 0 auto;
        margin-top: 25px;
        #formSearchAnthology {
            display: flex;
            align-items: center;
            width: 300px;
            margin-left: 0;
            i {
                background: #470280;
                padding: 9px;
                border-radius: 10px;
                font-size: 20px;
                margin: 0;
            }
            i:hover {
                background: #6004ac;
            }
        }
        .buttonAddAnthology {
            button {
                display: flex;
                align-items: center;
                background: #470280;
                color: white;
                font-size: 16px;
                i {
                    font-size: 20px;
                }
            }
            button:hover {
                background: #6004ac;
            }
        }
    }
    #modalAddAnthology {
        .modal-content {
            width: 80%;
        }
        h5 {
            text-align: center;
            font-weight: bold;
            font-size: 23px;
            text-shadow: 1px 3px #ccc;
        }
        form {
            width: 80%;
            table {
                margin: 0 auto;
                border: 1px solid #ccc;
                width: 100%;
                text-align: center;
                height: 100%;
                tbody {
                    tr {
                        td {
                            height: 35px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        input[type=file]:focus,
        .custom-file-input:focus~.custom-file-label {
            outline: none!important;
            box-shadow: none!important;
        }
        .custom-file-input~.custom-file-label::after {
            content: "Buscar";
        }
        .custom-file,
        .custom-file-label,
        .custom-file-input {
            cursor: pointer;
        }
    }
    #containerAnthologys {
        width: 80%;
        overflow: auto;
        height: 300px;
        margin: 0 auto;
        margin-top: 20px;
        table {
            text-align: center;
            margin-bottom: 0;
            thead {
                color: white;
                background: #470280;
                border: 1px solid #ccc;
                tr td {
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    background: #470280;
                }
            }
            tbody {
                tr:hover {
                    cursor: pointer;
                }
                td {
                    vertical-align: middle;
                    i {
                        color: #470280;
                        font-size: 16px;
                        margin: 0;
                        padding: 6px;
                        border-radius: 50%;
                        transform: scale(1.2);
                    }
                    i:hover {
                        color: white;
                        background: #470280;
                    }
                }
            }
        }
    }
}