#bankSubjects {
    #containerSubjects {
        height: 60%;
    }
    .buttons {
        width: 150px;
        height: 40px;
        background: #512b83;
        color: white;
        margin: 0px;
    }
    #searchButtons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        #searchSubjects {
            form {
                display: flex;
                margin-left: 0px;
                input {
                    width: 250px;
                    height: 40px;
                }
                button {
                    height: 40px;
                }
            }
        }
    }
    .addMatters {
        .modal-content {
            width: 90%;
        }
        h5 {
            font-size: 20px;
            font-weight: bold;
        }
        form {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            label {
                font-size: 18px;
                font-weight: bold;
            }
            input {
                font-size: 16px;
            }
        }
    }
    #subjects {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        table {
            width: 100%;
            text-align: center;
            margin-bottom: 0px;
            thead {
                background: #512B83;
                color: white;
                font-size: 20px;
                font-weight: bold;
                tr td {
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    background: #512B83;
                    font-size: 15px;
                }
            }
            tbody {
                background: white;
                tr {
                    cursor: pointer;
                    background: white;
                    line-height: 1;
                    td {
                        vertical-align: middle;
                        a {
                            cursor: pointer;
                        }
                    }
                }
                tr:hover {
                    background: #ccc;
                }
            }
            a {
                i {
                    color: #512b83;
                    padding: 8px;
                    font-size: 14px;
                    border-radius: 100%;
                    color: #512B83;
                }
                i:hover {
                    background: #512b83;
                    transform: scale(1.2);
                    color: white;
                }
            }
        }
    }
    #subjects::-webkit-scrollbar {
        width: 10px;
        height: 500px;
        background: white;
    }
    #subjects::-webkit-scrollbar-thumb {
        background: #512B83;
        border-radius: 5px;
    }
    #loadingEdit {
        font-size: 20px;
        color: white;
        margin: 0 auto;
    }
    .transparent {
        background: transparent;
        border: none;
    }
}