html {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    height: 100%;
    background-attachment: fixed;
}

.activePage {
    background: #60408b;
}

nav {
    width: 100%;
    background: url(../../img/backgroundNav.png) center center;
    background-size: cover;
    .logo img {
        width: 50px;
        margin: 0px 20px;
    }
    a {
        font-size: 18px;
        color: white;
    }
    a:hover {
        text-decoration: none;
        color: #ccc;
    }
}

aside {
    width: 270px;
    height: 100%;
    background: #53008B;
    color: white;
    text-transform: uppercase;
    .list {
        width: 270px;
        height: 100%;
        flex-flow: column wrap;
        padding-left: 0px;
        margin: 0px;
        li {
            width: 100%;
            border: 1px solid rgb(80, 80, 80);
            list-style: none;
            margin: 0px;
            transition: all 300ms;
            border-left: none;
            box-shadow: inset 0px -8px 10px 0px #3e2666;
        }
        li:hover {
            cursor: pointer;
            color: rgb(194, 194, 194);
            .category {
                transform: scale(1.1, 1.1);
            }
        }
        .category {
            align-items: center;
            height: 50px;
            font-size: 16px;
            line-height: 53px;
            margin-left: 40px;
            a {
                width: 100%;
                height: 100%;
                color: white;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}

i {
    font-size: 25px;
    margin-right: 10px;
    color: white;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
}

.EducativeOffer {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 2%;
    .cards {
        width: 23%;
        height: 70%;
        margin: 0 auto;
        margin-top: 23.4px;
        border-radius: 20px;
        a {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            color: white;
            font-weight: bold;
            font-family: Helvetica, Arial, sans-serif;
            padding-bottom: 30px;
            p {
                margin: 0px;
            }
            .title {
                font-size: 34px;
                text-align: justify;
                margin-left: 20px;
                margin-right: 20px;
                line-height: 40px;
            }
            .rvoe {
                text-align: left;
                margin-top: -5px;
                margin-left: 20px;
                font-size: 15px;
                font-weight: normal;
            }
        }
        a:hover {
            color: #ccc;
            text-shadow: 0px 0px 5px #444;
            text-decoration: none;
        }
    }
    .degree {
        height: 100%;
        border-radius: 5px;
        background: url(../../img/Degree.png) center center no-repeat;
        background-size: cover;
    }
    .degree-day {
        height: 100%;
        border-radius: 5px;
        background: url(../../img/Degree-day.png) center center no-repeat;
        background-size: cover;
    }
    .mastery {
        height: 100%;
        border-radius: 5px;
        background: url(../../img/Mastery.png) center center no-repeat;
        background-size: cover;
    }
    .doctorate {
        height: 100%;
        border-radius: 5px;
        background: url(../../img/Doctorade.png) center center no-repeat;
        background-size: cover;
    }
}

.EducativeOffer a {
    text-align: center;
}