.library {
    width: 100%;
    background: url(../../img/Fondo-biblio.png) center center;
    background-size: cover;
    .everywhere {
        justify-content: space-between;
        margin-bottom: 20px;
        .sectionlibrary {
            display: flex;
            align-items: flex-start;
            margin-top: 20px;
            margin-left: 10%;
            i {
                color: #512B83;
            }
            p {
                width: 100%;
                height: 100%;
                margin-bottom: 0px;
                font-size: 15px;
            }
        }
        .logolibrary {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin-top: 30px;
            img {
                width: 50px;
            }
            h5 {
                margin: 0;
                font-size: 30px;
                text-transform: uppercase;
            }
        }
    }
    #buttonsSearch {
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
    }
    #sendPetititon {
        display: flex;
        width: 300px;
        margin-left: 0;
    }
    form {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 10%;
        opacity: 1;
    }
    .btn {
        margin-left: 5px;
    }
    #applyFilter {
        padding: 0;
        margin-left: 10px;
    }
    .btnSearch {
        i {
            background: #512B83;
            padding: 5px;
            border-radius: 5px;
            margin-right: 0px;
        }
    }
    #addBookButton {
        .btnAddBook {
            height: 40px;
            background: #512B83;
            color: white;
            border-radius: 5px;
            width: 115px;
        }
        .btnAddBook:hover {
            background: #743dbb;
        }
    }
    .books {
        width: 80%;
        margin: 0 auto;
        overflow: auto;
        table {
            width: 100%;
            text-align: center;
            margin-bottom: 0px;
            thead {
                background: #512B83;
                color: white;
                font-size: 20px;
                font-weight: bold;
                tr td {
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    background: #512B83;
                    font-size: 15px;
                }
            }
            tbody {
                tr {
                    cursor: pointer;
                    background: white;
                    line-height: 1;
                    td {
                        vertical-align: middle;
                    }
                    #actions {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            i {
                                color: #512b83;
                                padding: 8px;
                                font-size: 15px;
                                border-radius: 100%;
                                color: #512B83;
                            }
                            i:hover {
                                background: #512b83;
                                transform: scale(1.2);
                                color: white;
                            }
                        }
                    }
                }
                tr:hover {
                    background: #ccc;
                }
            }
            a {
                i {
                    color: #512B83;
                }
            }
            a:hover {
                i {
                    color: #411f6e;
                }
            }
        }
    }
    .books::-webkit-scrollbar {
        width: 10px;
        height: 500px;
        background: white;
    }
    .books::-webkit-scrollbar-thumb {
        background: #512B83;
        border-radius: 5px;
    }
    .page {
        nav {
            background: none;
            box-shadow: 0px 0px 0px;
            align-content: center;
            margin-top: 20px;
            ul {
                justify-content: center;
                .page-item.active .page-link {
                    color: white;
                    background-color: #512B83;
                    border-color: #512B83;
                }
                .page-link {
                    color: #512B83;
                }
            }
        }
    }
}

.books {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    table {
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        thead {
            background: #512B83;
            color: white;
            font-size: 20px;
            font-weight: bold;
            tr td {
                position: sticky;
                top: 0;
                z-index: 10;
                background: #512B83
            }
        }
        tbody {
            tr {
                cursor: pointer;
                background: white;
                line-height: 1;
            }
            tr:hover {
                background: #ccc;
            }
        }
        a {
            i {
                color: #512B83;
            }
        }
        a:hover {
            i {
                color: #411f6e;
            }
        }
    }
}

.books::-webkit-scrollbar {
    width: 10px;
    height: 500px;
    background: white;
}

.books::-webkit-scrollbar-thumb {
    background: #512B83;
    border-radius: 5px;
}

.containeInputFilter {
    display: flex;
}

#addBookModal,
#editBookModal {
    .modal-contentBook {
        width: 430px;
    }
    h5 {
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    form {
        width: 80%;
        .labelNameBook,
        .labelAuthor,
        .labelUploadBook {
            font-weight: bold;
        }
        input[type=file]:focus,
        .custom-file-input:focus~.custom-file-label {
            outline: none!important;
            box-shadow: none!important;
        }
        .custom-file-input~.custom-file-label::after {
            content: "Buscar";
        }
        .custom-file,
        .custom-file-label,
        .custom-file-input {
            cursor: pointer;
        }
        .buttonsBook {
            margin-top: 30px;
            text-align: center;
            button {
                color: white;
                background: #512B83;
                padding: 5px 15px;
            }
            button:hover {
                background: #743dbb;
            }
        }
    }
}