#material {
    width: 100%;
    background: white;
    .navMaterial {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 16px;
        .nav-link {
            color: #470280;
        }
        .nav-link.active {
            background: #470280;
            color: white;
        }
        #sectionMaterial {
            width: 85%;
            margin: 0 auto;
            #secMaterial {
                width: 80%;
                padding: 15px;
                height: 130px;
                color: white;
                background: url(../../img/backgroundNav.png) center center;
                background-size: cover;
                border-radius: 10px;
                margin: 0 auto;
                margin-top: 20px;
                h5 {
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 0;
                }
                p {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            #teachers,
            #alumns {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 5px;
                h5 {
                    font-size: 25px;
                    font-weight: bold;
                    color: #470280;
                    margin-bottom: 0;
                    display: flex;
                    align-self: flex-end;
                }
                a {
                    margin-right: 10px;
                    i {
                        background: #470280;
                        color: white;
                        padding: 10px;
                        border-radius: 10px;
                        font-size: 20px;
                        margin: 0;
                    }
                    i:hover {
                        background: #6404b3;
                    }
                }
            }
            hr {
                margin-top: 10px;
                margin-right: 5px;
                border: 1px solid #470280;
            }
            #listTeacher {
                ul {
                    padding-left: 15px;
                    li {
                        font-size: 17px;
                        font-weight: bold;
                        list-style: none;
                    }
                }
            }
            .listAlumns {
                ul {
                    padding-left: 15px;
                    li {
                        font-size: 17px;
                        font-weight: bold;
                        list-style: none;
                    }
                }
            }
        }
        #modalAddTeacher,
        #modalAddAlumns,
        #modalEditGrades {
            .modal-content {
                width: 80%;
            }
            h5 {
                text-align: center;
                font-weight: bold;
                font-size: 23px;
                text-shadow: 1px 3px #ccc;
            }
            form {
                width: 80%;
                text-align: center;
                .loadingSearchTeacher {
                    color: #6404b3;
                    text-align: center;
                }
                table {
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                    tbody {
                        tr {
                            td {
                                height: 35px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        #searchAlumn,
        #searchScore {
            width: 360px;
            margin-top: 25px;
            form {
                display: flex;
                input {
                    margin-right: 15px;
                }
                button {
                    background: #470280;
                    padding: 5px;
                    width: 50px;
                    i {
                        margin: 0;
                        font-size: 20px;
                        vertical-align: middle;
                    }
                }
                button:hover {
                    background: #6404b3;
                }
            }
        }
        #downloadGrades {
            margin-top: 25px;
            button {
                background: #470280;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .tableListAlumn {
            overflow: auto;
            height: 300px;
            margin-top: 20px;
            table {
                text-align: center;
                margin-bottom: 0;
                thead {
                    color: white;
                    background: #470280;
                    border: 1px solid #ccc;
                    tr td {
                        position: sticky;
                        top: 0;
                        z-index: 10;
                        background: #470280;
                    }
                }
                tbody {
                    tr:hover {
                        cursor: pointer;
                    }
                    td {
                        vertical-align: middle;
                        i {
                            color: #470280;
                            font-size: 16px;
                            margin: 0;
                            padding: 6px;
                            border-radius: 50%;
                        }
                        i:hover {
                            color: white;
                            background: #470280;
                        }
                    }
                }
            }
        }
        .tableListAlumn::-webkit-scrollbar {
            width: 5px;
            height: 500px;
            background: white;
        }
        .tableListAlumn::-webkit-scrollbar-thumb {
            background: #470280;
            border-radius: 5px;
        }
    }
}

.scrollSection {
    overflow: auto;
    height: 280px;
    margin-top: 20px;
}

.scrollSection::-webkit-scrollbar {
    width: 5px;
    height: 500px;
    background: white;
}

.scrollSection::-webkit-scrollbar-thumb {
    background: #470280;
    border-radius: 5px;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
    button {
        width: 100px;
        background: #470280;
        color: white;
    }
    button:hover {
        background: #6404b3;
        color: white;
    }
}

.nameSelected {
    color: white;
    background: #6404b3;
}

#containerListTeachers,
#containerListAlumns {
    overflow: auto;
    height: 140px;
    border: 1px solid #ccc;
}

#containerListAlumns {
    margin-bottom: 20px;
}

#containerListTeachers::-webkit-scrollbar,
#containerListAlumns::-webkit-scrollbar {
    width: 5px;
    height: 500px;
    background: white;
}

#containerListTeachers::-webkit-scrollbar-thumb,
#containerListAlumns::-webkit-scrollbar {
    background: #470280;
    border-radius: 5px;
}