#gradesModules {
    background: white;
    width: 100%;
    height: 100%;
    #searchGradesContainer {
        margin: 0 auto;
        margin-top: 25px;
        width: 80%;
        .searchQualification {
            width: 350px;
            form {
                #containerOptions {
                    display: flex;
                    width: 360px;
                }
                input {
                    margin-right: 15px;
                }
                button {
                    display: flex;
                    align-items: center;
                    height: calc(1.6em + 0.75rem + 2px);
                    background: #470280;
                    padding: 10px;
                    i {
                        font-size: 21px;
                        margin: 0;
                    }
                }
            }
        }
        #downloadGradesGlobals {
            button {
                background: #470280;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    #gradesGlobals {
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
        overflow: auto;
        height: 300px;
        table {
            text-align: center;
            margin-bottom: 0;
            thead {
                background: #470280;
                color: white;
                border: 1px solid #ccc;
                tr td {
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    background: #470280;
                }
            }
            tbody {
                td {
                    vertical-align: middle;
                    i {
                        color: #470280;
                        font-size: 16px;
                        margin: 0;
                        padding: 6px;
                        border-radius: 50%;
                    }
                    i:hover {
                        color: white;
                        background: #470280;
                    }
                }
            }
        }
    }
    #gradesGlobals::-webkit-scrollbar {
        width: 5px;
        height: 500px;
        background: white;
    }
    #gradesGlobals::-webkit-scrollbar-thumb {
        background: #470280;
        border-radius: 5px;
    }
    #editQualification {
        .modal-content {
            width: 80%;
            h5 {
                text-align: center;
                font-weight: bold;
                font-size: 23px;
                text-shadow: 1px 3px #ccc;
            }
            form {
                width: 80%;
                text-align: center;
            }
        }
    }
}