#studentMaterial {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
    #buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        .search {
            display: flex;
            width: 50%;
            margin-left: 0px;
            input {
                width: 70%;
                height: 40px;
                border: 1px solid #512B83;
                color: #512B83;
            }
            #sendGroup,
            #clearGroup {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
            }
        }
        #btnAdd {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            text-align: right;
            i {
                color: white;
            }
            a {
                color: white;
            }
        }
        button {
            width: 150px;
            height: 40px;
            background: #512b83;
            color: white;
            i {
                margin: 0px;
                font-size: 20px;
            }
        }
        button:hover {
            color: white;
            background: #60408b;
        }
        h5 {
            font-weight: bold;
            font-size: 25px;
            color: #444;
            text-align: center;
            text-transform: capitalize;
            margin-top: 15px;
            margin-bottom: 25px;
        }
        .modal-content {
            width: 90%;
        }
        form {
            width: 80%;
            margin: 0 auto;
            p {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0px;
            }
            select {
                font-size: 16px;
            }
            input {
                font-size: 16px;
            }
        }
    }
    #class {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
        overflow: auto;
        height: 75%;
        padding-bottom: 70px;
        .messageResult {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0.5;
            h5 {
                font-weight: bold;
                font-size: 25px;
                text-shadow: 0px 0px 5px #ccc;
            }
            i {
                font-size: 35px;
                color: black;
            }
        }
        .card {
            width: 250px;
            height: 230px;
            margin: 0 auto;
            margin-top: 25px;
            border: none;
            box-shadow: 0px 0px 3px #ccc;
            border-radius: 1.25rem;
            .information,
            .informationSubject {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 110px;
                background: url(../../img/cardInformation.png) center center;
                background-size: cover;
                color: white;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                border-start-start-radius: 1.25rem;
                border-start-end-radius: 1.25rem;
                .contentInformation {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 90%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                h5 {
                    width: 210px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 20px;
                }
                p {
                    width: 210px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
                i {
                    font-size: 15px;
                    text-align: center;
                }
                #optionGroups {
                    .btn-group {
                        button {
                            padding: 0;
                        }
                        button:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
            .informationSubject {
                background: #470280;
            }
            .space {
                width: 100%;
                height: 100%;
                background: white;
                border-end-start-radius: 1.25rem;
                border-end-end-radius: 1.25rem;
                overflow-y: auto;
                margin-bottom: 0px;
                border: 2px solid #512B83;
                ul {
                    margin-bottom: 0px;
                    li {
                        list-style: inside;
                        margin-left: 10px;
                    }
                }
            }
        }
        .card:hover {
            box-shadow: 2px 2px 5px #ccc;
        }
    }
    #class::-webkit-scrollbar {
        width: 8px;
        height: 500px;
        background: white;
    }
    #class::-webkit-scrollbar-thumb {
        background: #512B83;
        border-radius: 5px;
    }
    #loadingSpinner,
    #loadingSpinner2 {
        color: #512b83;
    }
}

#subjectsTable {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    height: 110px;
}

#editGroup {
    #modal-bodyGroup {
        h5 {
            font-weight: bold;
            font-size: 25px;
            color: #444;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 25px;
        }
    }
    #modalEditGroups {
        p {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .buttons {
            button {
                width: 150px;
                height: 40px;
                background: #512b83;
                color: white;
                margin: 0px;
            }
            button:hover {
                color: white;
                background: #60408b;
            }
        }
        #checkAddNewSubjects {
            margin-top: 30px;
            label {
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                    margin-right: 5px;
                }
            }
        }
        #addNewSubjects {
            display: flex;
            width: 280px;
            #searchNewSubjects {
                font-size: 16px;
                background: #512B83;
                color: white;
                margin-left: 10px;
                width: 41px;
                height: 37px;
                display: flex;
                padding: 0;
                justify-content: center;
                align-items: center;
                i {
                    margin: 5px;
                }
            }
            #searchNewSubjects:hover {
                background: #60408b;
            }
        }
    }
    #loadingEditGroup {
        color: white;
        margin: 0 auto;
    }
    .transparentGroups {
        background: transparent;
        border: none;
    }
}

#tableNewSubjects {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    height: 110px;
}

#tableNewSubjects,
#subjectsTable {
    table {
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        thead {
            color: white;
            font-size: 20px;
            font-weight: bold;
            tr td {
                position: sticky;
                top: 0;
                z-index: 10;
                color: black;
                background: white;
            }
        }
        tbody {
            tr {
                cursor: pointer;
                background: white;
                line-height: 1;
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    p {
                        width: 90%;
                        margin: 0px;
                        margin-right: 10px;
                    }
                    i {
                        width: 10%;
                        color: black;
                    }
                }
            }
            tr:hover {
                background: #ccc;
            }
            .newSubjects {
                display: flex;
                align-items: center;
                justify-content: center;
                td {
                    width: 100%;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                    i {
                        margin-right: 0;
                        position: relative;
                        right: 5%;
                    }
                }
            }
        }
        a {
            i {
                color: #512B83;
            }
        }
        a:hover {
            i {
                color: #411f6e;
            }
        }
    }
}

#loadingNewSubject {
    color: #512B83;
}

#emptyMessage {
    h5 {
        font-size: 20px;
    }
    i {
        font-size: 30px;
        color: #444;
    }
}

.titleViews {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.arrowReturn {
    width: 20%;
    margin-top: 20px;
    padding-left: 5%;
    i {
        color: #512B83;
    }
}